# edgetunnel Environment Configuration
# Set ADMIN in Cloudflare Worker Variables and Secrets to determine admin password
ADMIN=
KEY=
UUID=
PROXYIP=
URL=
GO2SOCKS5=
DEBUG=
OFF_LOG=
BEST_SUB=
PRELOAD_RACE_DIAL=
TCP_CONCURRENT_DIAL=2
PROXY_CONCURRENT_DIAL=1
HOST=
